body{
  background-color: #FBD148;
  height: 100%;
  width:100%;
}
.under{
  text-decoration: underline;
  font-size: 75px;
}
.roun{
  border-radius: 50%;
}
.header{
  font-family: serif;
}

.mnam{
  display: inline;
  position: absolute;
  font-size: 50px;
  font-family: serif;
  font-style: normal;
  text-align: center;
  padding-left: 10%;
}
.main_box{
  display: inline-block;
  height:600px;
  width: 100%;
  margin: 0;
  border-bottom: 6px solid #DAD992;
}
.feed{
  display: inline-block;
  height: auto;
  position: relative;
  width: 49%;
  left: 0;
  text-align: center;
  border-right: 6px solid #DAD992;
}
.view{
  display: inline-block;
  height: auto;
  width: 49%;
  position: absolute;
  left:50%;
  text-align: center;
}
.sub{
  font-size: 40px;
  border-radius: 50%;
  width: auto;
  border: solid 3px;
  background-color: #6ECB63
}
.feed_ins{
  display: inline-block;
  border-bottom: solid 3px;
  border-radius: 34%;
  height: 40px;
  width: 34%;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
  margin-bottom: 20px;
}
.centre_base{
  display: inline-block;
  font-style: normal;
  font-family: serif;
  font-weight: bold;
  border: solid 3px;
  height: 40px;
  width: 30%;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
  position: absolute;
  left :85%;
  background-color: #8B9A46
}
