body{
  background-image: url('Backgr.jpg');
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
}
hr{
  margin-top:0;
  margin-bottom:0;
}
.header{
  background-color: #D1E8E4;
  margin: 0;
  font-family:serif;
}
.under{
  text-decoration: underline;
  font-size: 75px;
}
.roun{
  border-radius: 50%;
}

.mnam{
  display: inline;
  position: absolute;
  font-size: 3.2rem;
  font-style:oblique;
  text-align: center;
  padding-left: 10%;
  margin-top:15;
}
.main_box{
  display: inline-block;
  height:600px;
  width: 100%;
  margin: 0;
  background-color: #D1E8E4;
}
.feed{
  display: inline-block;
  height: auto;
  width: 50%;
  position: absolute;
  left: 0;
  text-align: center;
}
.view{
  display: inline-block;
  height: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  text-align: center;
}
.sub{
  font-size: 40px;
  border-radius:50%;
  border: solid 3px;
}
.feed_ins{
  display: inline-block;
  border: sold 3px;
  height: 40px;
  width: 45%;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
  background-color: inherit;
}
